@font-face {
  font-family: "FONT2";
  src: url("/data/fonts/Echelon.ttf");
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#fram {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  border: none;
  position: relative;
}
body {
  top: 50%;
  font-family: "FONT2", sans-serif;
  background: url("/data/images/loading.gif") no-repeat;
  transition: 0.5s;
}
a {
  color: inherit;
  text-decoration: none;
}
.top-spot {
  display: flex;
  width: 100vw;
  height: 2.5vh;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  backdrop-filter: blur(5px);
  top: 4vh;
  z-index: 10000;
  left: 50%;
  background: #3a3a3a5a;
  border: 2px solid black;
  text-align: center;
  align-content: space-evenly;
  align-items: center;
  transform: translate(-50%, -4vh);
}
.top-spot-enclosure {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
.buttin {
  height: 26px;
  cursor: pointer;
  justify-content: space-evenly;
  transition: 0.3s;
  padding: 5px;
}
.buttin img {
  width: 26px;
  display: flex;
  height: auto;
  transition: 1s;
  margin-left: 0.25vw;
  align-items: center;
  justify-content: center;
}
.buttin #svgg {
  filter: invert(100%) sepia(4%) saturate(100%) hue-rotate(293deg)
    brightness(107%) contrast(104%);
}
.buttin p {
  vertical-align: top;
  display: inline-flex;
  will-change: auto;
  margin: 0;
  margin-right: 1px;
}
.slashapp {
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
  position: relative;
}
.slashapp_ {
  font-family: "FONT2", sans-serif;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  width: 500px;
  height: 24px;
  opacity: 0.3;
  text-align: center;
  z-index: 10001;
  position: relative;
}
.slashapp_:focus {
  outline: none;
}
#customCloakinput {
  display: none;
}
#suggestions-box {
  position: absolute;
  top: 40px; /* Adjusted top position */
  width: 500px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background: #fff;
  z-index: 10003;
  display: none; /* Initially hidden */
  background-color: #ffffff;
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  z-index: 99999;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}
.suggestion-item:hover {
  background: #f0f0f0;
}
