@font-face {
  font-family: 'FONT1', sans-serif;
  src: url('/data/fonts/BeVietnamPro-Bold.ttf');
}

* {
  background: linear-gradient(135deg, #1a1a2e, #16213e) no-repeat center center fixed;
  transition: all 0.4s ease-in-out;
  animation: fadeIn 1.8s ease;
  font-family: 'FONT1', sans-serif;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#container {
  display: flex;
  align-items: center; 
  justify-content: center;   
}
#ech__title {
  font-size: 125px;
  font-family: 'FONT1', sans-serif;
  color: rgb(99, 99, 222);
  user-select: none;
}
.ech__search {
  width: 700px;
  height: 50px;
  background-color: rgb(4, 4, 55);
  border: 3px solid rgb(99, 99, 222);
  color: white;
  transition: opacity 0.5s ease;
}