@font-face {
  font-family: 'FONT1', sans-serif;
  src: url('/data/fonts/BeVietnamPro-Bold.ttf');
}

* {
  z-index: 99;
}
body { 
  margin: 0;
  padding: 0;
  background: url('/data/images/bg_purple.png');
  background-attachment: fixed;
  font-family: 'FONT1', sans-serif; 
}
#darker {
  position: absolute sticky;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  height:100%;
}
.bubbly-button {
  display: inline-block;
  border: 2px solid linear-gradient(133deg, rgba(0,0,0,1) 0%, rgba(75,0,66,1) 100%);
  margin: 20px;
  height: 70px;
  border-radius: 10px;
  background: linear-gradient(133deg, rgba(24,0,40,1) 0%, rgba(17,66,187,1) 100%);
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.175, 0.485, 0.32, 0.875);
}
center h1 {
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
  color: #5d517c;
  -webkit-text-stroke: 1px #000;
}
.bubbly-button>a {
  font-size: 40px;
  color: #8060bb;
  font-family: 'FONT1', sans-serif;
  letter-spacing: 2px;
}

.bubbly-button:hover {
  box-shadow: 0px -9px 9px 9px rgba(0,0,0,0.58);
  transform: scale3d(5);
  transform: translateY(10px);
}

.proxywrapper {
 width: 100%;
 height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
.titlee { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px; 
  font-weight: bold;
  font-family: 'FONT1', sans-serif;
}
h5#title {
  font-size: 14px;
}
div.navywrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
i {
  cursor: pointer !important;
  color: #875dff;
}
div.navy {
  width: 18vw;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  border: 2px solid #875dff;
  margin: 0 auto;
}

div.navy>i {
  font-size: 30px;
  font-family: 'FONT1', sans-serif;
  border-radius: 10%;
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.3;
  background-color: #000;
  z-index: 99;
}

#loading-image {
  display:block;
  transform: translate(50%, 50%);
  z-index: 100;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #875dff;
  padding: 0;
}
#uv-address{
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #100020;
  width: calc(100vw - 1000px);
  height: 50px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'FONT1', sans-serif;
  margin-bottom: auto;
  margin-top: 50px;
}
#uv-address:hover {
  width: calc(100vw - 900px);
  transition: 0.5s ease-in-out;
}
#uv-address:focus {
  width: calc(100vw - 800px);
  transition: 0.5s ease-in-out;
}
/* tops */

@keyframes kf_fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#mm {
  display: flex;
  align-items: center;
  justify-content: center;
}
#span {
  font-size: 40px;
  color: rgb(138, 38, 232);
}
nav {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #6317a9;
}
nav>a {
  margin-left: 50px;
  text-decoration: none;
  color: rgb(138, 44, 226);
  font-size: 40px;
}
nav>span {
  margin-left: 50px;
  float: left;
}
i {
  fill: none;
}
.islands {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 50vh;
  margin-top: 0;
  border: 4px solid #200530;
  border-radius: 40px;
  background-color: #6317a9;
  box-sizing: border-box;
  vertical-align: top;
}

#cloakSelect {
  display: none;
  background-color: #200530;
  color: blueviolet;
  height: 50px;
  font-size: 20px;
  font-family: "FONT1", sans-serif;
  letter-spacing: 2px;
}
.visible {
  display: block !important;
}
#panickey {
  display: none;
  background-color: #200530;
  color: blueviolet;
  width: 400px;
  height: 50px;
  font-size: 20px;
  font-family: "FONT1", sans-serif;
  letter-spacing: 2px;
}
#panicurl {
  display: none;
  background-color: #200530;
  color: blueviolet;
  width: 400px;
  height: 50px;
  font-size: 20px;
  font-family: "FONT1", sans-serif;
  letter-spacing: 2px;
}
#panic {
  margin-left: 0;
  margin-top: 0;
}
#mark {
  margin-right: 10px;
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-top: 40px;
  background-color: #200530;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.175, 0.485, 0.32, 0.875);
}
#mark > img {
  margin-top: 10px;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 130px;
}
#mark > p {
  color: white;
  font-size: 20px;
}
#mark:hover {
  cursor: pointer;
  transform: scale3d(5);
  transform: translateY(10px);
}

#markiplier {
  margin-right: 10px;
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-top: 40px;
  background-color: #200530;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.175, 0.485, 0.32, 0.875);
}
#markiplier > img {
  margin-top: 10px;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 130px;
}
#markiplier > p {
  color: white;
  font-size: 20px;
}
#markiplier:hover {
  cursor: pointer;
  transform: scale3d(5);
  transform: translateY(10px);
}

#banner {
  margin-top: 50px;
  border: 4px solid #200000;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.175, 0.485, 0.32, 0.875);
}
#banner:hover {
  transform: scale3d(5);
  transform: translateY(10px);
}
