body {
  background: radial-gradient(circle, var(--c2) -100%, rgba(0, 0, 0, 1) 100%);
  font-family: 'Quicksand', sans-serif;
  margin: 0; /* Remove default body margin */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align content to the top of the screen */
  min-height: 100vh; /* Ensure body takes up full viewport height */
}

.c__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Adjust as needed for spacing */
}

.navy {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); /* Vertically center */
  padding: 20px; /* Adjust as needed for spacing */
}

.c__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%; /* Ensure form takes up full available width */
}
#counter {
  border: 2px solid var(--c2);
  border-radius: 50px;
}
.bubbly-button {
  display: block;
  border: 1px solid var(--c1);
  width: 70vw;
  margin-top: 10px;
  height: 100px;
  background-color: var(--c2);
  cursor: pointer;
}
.bubbly-button>a {
  font-size: 70px;
  color: var(--c3);
  font-family: 'Quicksand', sans-serif;
}
#search-input {
  display: inline-block; 
  border: 2px solid var(--c1);
  width: 10vw;
  height: 50px;
  transition: 0.5s ease-in-out;
  background-color: var(--c2);
  box-shadow: 1px 2px 200px 2px var(--c3, 0.33);
  color: var(--c3);
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}
.titlee { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px; 
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
h5#title {
  font-size: 14px;
}
div.navywrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
i {
  cursor: pointer !important;
  color: var(--c1);
}
div.navy {
  width: 2.7vw;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  border: 2px solid var(--c2);
  margin: 0 auto;
}

div.navy>i {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10%;
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.3;
  background-color: #000;
  z-index: 99;
}

#loading-image {
  display:block;
  transform: translate(50%, 50%);
  z-index: 100;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--c1);
  padding: 0;
}
#search-input{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--c1);
  width: calc(100% - 100px);
  height: 50px;
  transition: 0.5s ease-in-out;
  background-color: var(--c3);
  box-shadow: 1px 2px 200px 2px var(--c3, 0.33);
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: auto;
}
#search-input:hover {
  border: 1px solid var(--c1);
  width: calc(100% - 50px);
  box-shadow: 1px 2px 40px 14px var(--c3);
  transition: 0.5s ease-in-out;
}
#search-input:focus {
  border: 1px solid var(--c1);
  width: calc(100% - 40px);
  box-shadow: 1px 2px 40px 28px var(--c3);
  transition: 0.5s ease-in-out;
}
.islands {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: white;
  text-align: center;
  border: 3px solid var(--c1);
  line-height: 90px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 1px var(--c3);
  border-radius: 10%;
  font-size: 25px;
  font-family: "Quicksand", monospace;
  background-color: var(--c3);
  cursor: pointer;
}
#appslist #gameslist{
  vertical-align: middle;
  display: inline-block;
  background-color: var(--c2);
  width: calc(100% - 100px);
  height: 300px;
  font-family: 'Quicksand', monospace;
}
.entry{
  width: 100px;
  height: 100px;
  background-color: var(--c1);
  color: white;
}
.close {
  width: 50px;
  height: 50px;
  background-color: red;
}
.maketag {
  width: 100%;
  height: 100%;
  top:0;
  position: absolute;
  z-index: 99;
}
.closemaketag {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  top: 30px;
  left: 30px;
  z-index: 100;
}
input[type="color"] {
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50% !important;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin-top: auto;
}

/* tops */



@keyframes kf_fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
